/* PALETTE */
/* DARK: 000000 */
/* MID1: 2F4550 */
/* MID2: 586F7C */
/* LIGHT1: B8DBD9 */
/* LIGHT2: F4F4F9 */
:root {
    /*palette 1*/
    --p1dark: #000000;
    --p1mid1: #2f4550;
    --p1accent: #153342;
    --p1mid1transparent: #2f45505e;
    --p1mid2: #586f7c;
    --p1light1: #849493;
    --p1light2: #f4f4f9;
    /* palette 2 */
    --p2dark: #3c1518;
    --p2mid1: #69140E;
    --p2mid2: #a44200; /*lighten up, desaturate palette a little*/
    --p2light1: #d58936;
    --p2light2: #f2f3ae;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
}

.hide {
    visibility: none !important;
    display: none;
}

body {
    background-color: var(--p1mid2);
    transition: 0.2s;
}


button {
    cursor: pointer;
    background-color: var(--p1mid1);
    transition: 0.2s;
}

button:hover {
    transform: scale(1.1, 1.1);
}

.material-icons {
    transition: 0.2s;
    color: var(--p1mid1);
}

.material-icons:hover {
    transform: scale(1.1, 1.1);
}

.title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
    z-index: 1;
}

.title h1 {
    font-size: 100px !important;
    /*color: var(--p1mid1);*/
    text-align: center;
    text-shadow: -0.015em 0 5px var(--p1light2), 0.015em 0 5px var(--p1light2), 0 -0.015em 5px var(--p1light2), 0 0.015em 5px var(--p1light2);
}

.container {
    background-color: var(--p1light2);
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 75px;
    border-radius: 15px;
    box-shadow: 0px 20px 40px var(--p1mid1transparent);
    z-index: -1;
}

#what-is {
    margin-bottom: 40px;
    font-size: 30px;
    /*color: var(--p1mid1);*/
    text-align: center;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-bar input {
    padding: 5px;
    width: 70%;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: var(--p1light2);
    /*color: var(--p1mid1);*/
    box-shadow: 0 10px 20px var(--p1light1);
}

.search-bar button {
    padding: 15px 0;
    width: 25%;
    border: none;
    outline: none;
    /*background-color: var(--p1mid2);*/
    border-radius: 5px;
    color: var(--p1light2);
}

#info {
    font-size: 50px;
    position: absolute;
    outline: none;
    border: none;
   /* color: var(--p1mid1);*/
    top: 15px;
    left: 15px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
}

#close-btn {
    font-size: 50px;
    position: absolute;
    outline: none;
    border: none;
    /*color: var(--p1mid1);*/
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
}

#slider-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
}

input[type = "range"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 80%;
    left: 10px;
    height: 13px;
    background-color: var(--p1light1) !important;
    border-radius: 9px;
    margin-top: 40px;
}

input[type = "range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 13px;
}

input[type="range"]::-moz-track {
    -moz-appearance: none;
    height: 13px;
}

input[type = "range"]::-ms-track {
    appearance: none;
    height: 13px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: var(--p1accent);
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
    margin-top: -5px;
    border: none;
    transition: 0.05s;
}

input[type = "range"]::-moz-range-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: var(--p1accent);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
    border: none;
}

input[type = "range"]::-ms-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: var(--p1accent);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
    border: none;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: var(--p1light2);
    border: 3px solid var(--p1accent);
}

#slider-value {
     width: 13%;
     position: absolute;
     color: var(--p1light2);
     background-color: var(--p1mid2);
     text-align: center;
     padding: 10px;
     border-radius: 5px;
     right: 50px;
     bottom: 50px;
}

#info-container {
    z-index: 3;
    transition: 0.2s;
}

.result {
    position: relative;
}

.result h3 {
    font-size: 45px;
    /*color: var(--p1mid1);*/
}

.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    transition: 0.2s;
    /*color: var(--p1dark);*/
}

.result .details {
    display: flex;
    gap: 10px;
    transition: 0.2s;
    /*color: var(--p1mid1transparent);*/
}

.def {
    /*color: var(--p1mid1);*/
}

.h3-error {
    margin-top: 15px;
}

.other-container {
    width: 100%;
    height: 40px;
    position: absolute;
    margin-bottom: 30px;
    bottom: 0;
}

#toggle-btn {
    font-size: 50px;
    position: sticky;
    outline: none;
    border: none;
    color: var(--p1dark);
    top: 15px;
    left: 15px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
}

